# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.suo
*.sw?
*.local

# Environment
.env
.env.local
.env.*.local

# Local Environments
.venv/
.context/
excel_dump.md

# Added by ggshield
.cache_ggshield

# Documentation
doc/
docs/
raw_docs/
