.code-editor {
  overflow: hidden;
}
.code-editor :deep(.cm-editor) {
  height: 100%;
}
.code-container {
  border-radius: 2px;
  border: var(--form-element-border);
}
.code-container:hover {
  border-color: var(--form-element-border-color-hover);
}
.code-container_error {
  border: 1px solid var(--form-element-invalid-color);
}
.code-container_error:hover {
  border: 1px solid var(--form-element-invalid-color);
}
.code-editor {
  position: relative;
  z-index: 1;
}
.code-temp {
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 1px;
  right: 1px;
  visibility: hidden;
}
.coder-validate.v-tip > .v-tip-body {
  color: #fff;
  background-color: var(--form-element-invalid-color);
}
.coder-validate.v-tip .v-tip-anchor::before {
  background-color: var(--form-element-invalid-color);
}

.upload-container[data-v-bfb37b98] {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}
.file-tip[data-v-bfb37b98] {
  line-height: 20px;
  color: var(--color-gray-d40);
  font-size: 12px;
}
.linktest-container[data-v-bfb37b98] {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}
.linktest-status[data-v-bfb37b98] {
  font-size: 12px;
  line-height: 20px;
}
.linktest-status--testing[data-v-bfb37b98] {
  color: var(--color-primary);
}
.storage-class-warning[data-v-bfb37b98] {
  color: var(--color-golden-yellow);
  line-height: 20px;
}

.storage-popover-grid[data-v-0a848a4d] {
  width: 480px;
  min-height: 80px;
}

.page[data-v-2c79eaca] {
  padding-bottom: var(--spacing-md);
}
.text_4pYaCm[data-v-2c79eaca] {
  color: var(--color-gray-d50);
}
.text_595j1X[data-v-2c79eaca] {
  margin-left: 4px;
}
.text_595j1X span[data-v-2c79eaca] {
  color: var(--color-primary);
  cursor: pointer;
}
.text_595j1X span[data-v-2c79eaca]:hover {
  text-decoration: underline;
}
.col[data-v-2c79eaca] {
  display: flex;
  flex-direction: column;
}

