/* 样式前缀 */
/* 间距 包括margin padding 等 */
/* page wrapper */
/* containers */
/* small containers and buttons */
/* items */
/* small items */
/* 布局的常量 */
/* 页面宽度 */
/* 侧边栏宽度 */
/* 标题区域高度 */
/* toolbar高度 */
/* banner高度 */
/* 文字大小 */
/* 圆角 */
/* 阴影 */
/* 背景色 */
/* 文字颜色 */
/* 下边框线色 */
/* 边框色 */
/* 组合变量 */
.sf-layout-scrollbar {
  position: relative;
  overflow: hidden;
}
.sf-layout-scrollbar__tree-container-side--allow-stretch {
  height: calc(100% - 16px);
}
.sf-layout-scrollbar__wrap {
  height: 100%;
  overflow: auto;
}
.sf-layout-scrollbar__wrap--hidden-default::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.sf-layout-scrollbar__view--fill {
  height: 100%;
}
.sf-layout-scrollbar__thumb {
  position: relative;
  display: block;
  width: 0;
  height: 0;
  background-color: rgba(144, 147, 153, 0.3);
  border-radius: inherit;
  cursor: pointer;
  transition: 0.3s background-color;
}
.sf-layout-scrollbar__thumb:hover {
  background-color: rgba(144, 147, 153, 0.5);
}
.sf-layout-scrollbar__bar {
  position: absolute;
  right: 2px;
  bottom: 2px;
  z-index: 1;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 120ms ease-out;
}
.sf-layout-scrollbar__bar.is-vertical {
  top: 2px;
  width: 6px;
}
.sf-layout-scrollbar__bar.is-vertical > div {
  width: 100%;
}
.sf-layout-scrollbar__bar.is-horizontal {
  left: 2px;
  height: 6px;
}
.sf-layout-scrollbar__bar.is-horizontal > div {
  height: 100%;
}
.sf-layout-scrollbar:hover > .sf-layout-scrollbar__bar,
.sf-layout-scrollbar:active > .sf-layout-scrollbar__bar,
.sf-layout-scrollbar:focus > .sf-layout-scrollbar__bar {
  opacity: 1;
  transition: opacity 340ms ease-out;
}
.sf-layout-overflow-hidden,
.sf-layout-scrollbar__wrap {
  scrollbar-width: none;
}
.sf-layout-frame {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.sf-layout-header {
  flex: 0 0 auto;
}
.sf-layout-banner {
  flex: 0 0 auto;
}
.sf-layout-main {
  flex: 1 0 auto;
  overflow-y: auto;
}
.sf-layout-tree-page {
  display: flex;
  flex-direction: column;
}
.sf-layout-tree-page .sf-layout__title {
  height: 40px;
  margin-bottom: 8px;
}
.sf-layout-tree-page .sf-layout__toolbar {
  height: 52px;
}
.sf-layout-tree-page .sf-layout__banner {
  height: 32px;
  margin-top: 4px;
  margin-bottom: 4px;
}
.sf-layout-tree-page .sf-layout__container {
  flex: 1 1 auto;
  height: calc(100% - 40px - 8px);
}
.sf-layout-tree-page--has-toolbar .sf-layout__container {
  height: calc(100% - 40px - 8px - 52px);
}
.sf-layout-tree-page--has-banner .sf-layout__container {
  height: calc(100% - 40px - 8px - 4px - 32px - 4px);
}
.sf-layout-tree-page--has-all .sf-layout__container {
  height: calc(100% - 40px - 8px - 4px - 32px - 4px - 52px);
}
.sf-layout-page {
  display: flex;
  flex-direction: column;
}
.sf-layout-page .sf-layout__title {
  height: 40px;
  margin-bottom: 8px;
}
.sf-layout-page .sf-layout__toolbar {
  min-height: 52px;
}
.sf-layout-page .sf-layout__banner {
  height: 32px;
  margin-top: 4px;
  margin-bottom: 4px;
}
.sf-layout-page .sf-layout__content {
  flex: 1 1 auto;
  height: calc(100% - 40px - 8px);
}
.sf-layout-page--has-toolbar .sf-layout__content {
  height: calc(100% - 40px - 8px - 52px);
}
.sf-layout-page--has-banner .sf-layout__content {
  height: calc(100% - 40px - 8px - 4px - 32px - 4px);
}
.sf-layout-page--has-all .sf-layout__content {
  height: calc(100% - 40px - 8px - 4px - 32px - 4px - 52px);
}
.sf-layout-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 16px 0 16px 16px;
  background: #fff;
  border-radius: 2px;
}
.sf-layout-card__header {
  height: 40px;
  padding-right: 16px;
}
.sf-layout-card__content {
  flex: 1 1 auto;
  height: 100%;
  overflow: hidden;
}
.sf-layout-card__content.sf-layout-scrollbar--native {
  padding-right: 16px;
}
.sf-layout-card__content-inner {
  margin-right: 16px;
}
.sf-layout-card__footer {
  z-index: 1;
  display: flex;
  flex: 0 0 60px;
  align-items: center;
  margin-right: 16px;
  box-shadow: 0 -2px 0 0 #ebeef4;
}
.sf-layout-card--has-header {
  padding-top: 0;
}
.sf-layout-card--has-footer {
  padding-bottom: 0;
}
.sf-layout-card--inline {
  display: inline-block;
}
.sf-layout-two-column {
  width: 100%;
  height: 100%;
}
.sf-layout-two-column__left,
.sf-layout-two-column__right {
  height: 100%;
  border: 1px solid #e1e4eb;
  border-radius: 2px;
}
.sf-layout-two-column__left-inner,
.sf-layout-two-column__right-inner {
  margin-right: 16px;
}
.sf-layout-two-column__left {
  float: left;
}
.sf-layout-two-column__right {
  float: right;
}
.sf-layout-content {
  height: 100%;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.sf-layout-content__sidebar {
  float: left;
  height: 100%;
  background: #f8f8fa;
  transition: width 0.3s ease-in-out;
}
.sf-layout-content__sidebar--normal {
  width: 224px;
}
.sf-layout-content__sidebar--small {
  width: 120px;
}
.sf-layout-content__sidebar--padding.sf-layout-content__sidebar--normal {
  padding-top: 24px;
}
.sf-layout-content__sidebar--padding.sf-layout-content__sidebar--small {
  padding-top: 12px;
}
.sf-layout-content__right {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: margin-left 0.3s ease-in-out;
}
.sf-layout-content__right--normal {
  padding: 8px 0 16px 32px;
}
.sf-layout-content__right--small {
  padding: 8px 0 16px 16px;
}
.sf-layout-content__right-title {
  height: 48px;
  padding-right: 32px;
}
.sf-layout-content__right-content {
  flex: 1 1 auto;
  height: 100%;
}
.sf-layout-content__right-content.sf-layout-scrollbar--native {
  padding-right: 32px;
}
.sf-layout-content__right-content-inner {
  margin-right: 32px;
}
.sf-layout-content__right-footer {
  z-index: 1;
  display: flex;
  flex: 0 0 60px;
  align-items: center;
  margin-right: 16px;
  box-shadow: 0 -2px 0 0 #ebeef4;
}
.sf-layout-content--has-sidebar .sf-layout-content__right--normal {
  margin-left: 224px;
}
.sf-layout-content--has-sidebar .sf-layout-content__right--small {
  margin-left: 120px;
}
.sf-layout-content--has-sidebar.sf-layout-content--sidebar-collapsed .sf-layout-content__sidebar {
  width: 56px;
}
.sf-layout-content--has-sidebar.sf-layout-content--sidebar-collapsed .sf-layout-content__right {
  margin-left: 56px;
}
.sf-layout-content--has-title .sf-layout-content__right-content {
  height: calc(100% - 48px);
}
.sf-layout__tree-container {
  height: 100%;
}
.sf-layout__tree-container-side {
  float: left;
  width: 240px;
  height: 100%;
  padding: 8px 0 0 16px;
  background: #fff;
  border-radius: 2px;
}
.sf-layout__tree-container-side--has-sidebar-title {
  padding-top: 0;
}
.sf-layout__tree-container-side.sf-layout-scrollbar--native {
  padding-right: 16px;
  padding-bottom: 16px;
}
.sf-layout__tree-container-side-inner {
  height: calc(100% - 16px);
  margin-right: 16px;
  margin-bottom: 16px;
}
.sf-layout__tree-container-side.no-padding {
  padding: 0;
}
.sf-layout__tree-container-side.transition {
  transition: width 0.3s, margin-left 0.3s;
}
.sf-layout__tree-container-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: calc(240px + 4px);
  padding: 0 0 8px 16px;
  background: #fff;
  border-radius: 2px;
}
.sf-layout__tree-container-wrapper.transition {
  transition: width 0.3s, margin-left 0.3s;
}
.sf-layout__tree-container--border .sf-layout__tree-container-side,
.sf-layout__tree-container--border .sf-layout__tree-container-wrapper {
  border: 1px solid #eee;
}
.sf-layout__tree-container-title {
  height: 48px;
  padding-right: 16px;
}
.sf-layout__tree-container-content {
  flex: 1 1 auto;
}
.sf-layout__tree-container-content.sf-layout-scrollbar--native {
  padding-right: 16px;
}
.sf-layout__tree-container-content-inner {
  margin-right: 16px;
}
.sf-layout__tree-container .sf-layout-resize_side-resize {
  float: left;
}
.sf-layout__tree-container .sf-layout-resize_side-resize.sf-layout-resize_no-width {
  width: 0;
  cursor: default;
}
.sf-resize-container {
  position: relative;
  width: 16px;
  height: 100%;
  cursor: col-resize;
}
.sf-resize-container .sf-resize-handle {
  position: absolute;
  top: calc(50% - 30px);
  z-index: 5;
  box-sizing: border-box;
  width: 0;
  height: 56px;
  border: 10px solid transparent;
  cursor: pointer;
}
.sf-resize-container .sf-resize-handle-expanded {
  left: 1px;
  border-left-color: #fff;
}
.sf-resize-container .sf-resize-handle-expanded:hover {
  border-left-color: #f7f8fa;
}
.sf-resize-container .sf-resize-handle-expanded:active {
  border-left-color: #f5f6fa;
}
.sf-resize-container .sf-resize-handle-collapsed {
  left: -9px;
  border-right-color: #f5f6fa;
}
.sf-resize-container .sf-resize-handle-collapsed:hover {
  border-right-color: #f7f8fa;
}
.sf-resize-container .sf-resize-handle-shell {
  position: absolute;
  top: calc(50% - 32px);
  left: 0;
  z-index: 4;
  box-sizing: border-box;
  width: 0;
  height: 60px;
  border: 12px solid transparent;
  border-left-color: #dcdfe6;
  cursor: default;
}
.sf-resize-container .sf-resize-handle-collapsed-shell {
  left: -12px;
  border: 12px solid transparent;
  border-right-color: #dcdfe6;
}
.sf-resize-container .sf-resize-handle-icon {
  position: absolute;
  top: 12px;
  left: -11px;
  color: #707a89;
  font-size: 12px;
}
.sf-resize-container .sf-resize-handle-icon::before {
  display: inline-block;
  width: 12px;
  height: 12px;
  /* 背景图用的base64就是 ../img/icon-triangle-left.svg 转过来的 */
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTJweCIgaGVpZ2h0PSIxMnB4IiB2aWV3Qm94PSIwIDAgMTIgMTIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8dGl0bGU+dHJpPC90aXRsZT4KICAgIDxnIGlkPSJ0cmkiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxwb2x5Z29uIGlkPSLot6/lvoQiIGZpbGw9IiM3MDdBODkiIGZpbGwtcnVsZT0ibm9uemVybyIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNS4wMDAwMDAsIDYuMDAwMDAwKSByb3RhdGUoLTkwLjAwMDAwMCkgdHJhbnNsYXRlKC01LjAwMDAwMCwgLTYuMDAwMDAwKSAiIHBvaW50cz0iOSA4IDQuOTkzOTMwNDMgNCAxIDcuOTg3ODc5MjYiPjwvcG9seWdvbj4KICAgIDwvZz4KPC9zdmc+);
  background-repeat: no-repeat;
  content: '';
}
.sf-resize-container .sf-resize-handle-icon-collapsed {
  top: 10px;
  left: -1px;
  transform: rotate(180deg);
}
.sf-no-margin-resize-container {
  position: relative;
  width: 1px;
  height: 100%;
  cursor: col-resize;
}
.sf-no-margin-resize-container .sf-no-margin-resize-hot-zone {
  position: absolute;
  left: -5px;
  width: 10px;
  height: 100%;
  cursor: col-resize;
}
.sf-no-margin-resize-container .sf-no-margin-resize-handle {
  position: absolute;
  top: calc(50% - 22px);
  z-index: 5;
  box-sizing: border-box;
  width: 0;
  height: 44px;
  border: 10px solid transparent;
  cursor: pointer;
}
.sf-no-margin-resize-container .sf-no-margin-resize-handle-expanded {
  left: 0;
  border-left-color: #fff;
}
.sf-no-margin-resize-container .sf-no-margin-resize-handle-expanded:hover {
  border-left-color: #f7f8fa;
}
.sf-no-margin-resize-container .sf-no-margin-resize-handle-expanded:active {
  border-left-color: #f5f6fa;
}
.sf-no-margin-resize-container .sf-no-margin-resize-handle-collapsed {
  left: 0;
  border-left-color: #fff;
}
.sf-no-margin-resize-container .sf-no-margin-resize-handle-collapsed:hover {
  border-left-color: #f7f8fa;
}
.sf-no-margin-resize-container .sf-no-margin-resize-handle-shell {
  position: absolute;
  top: calc(50% - 23px);
  left: 0;
  z-index: 4;
  box-sizing: border-box;
  width: 0;
  height: 46px;
  border: 11px solid transparent;
  border-left-color: #dcdfe6;
  cursor: default;
}
.sf-no-margin-resize-container .sf-no-margin-resize-handle-collapsed-shell {
  left: 0;
}
.sf-no-margin-resize-container .sf-no-margin-resize-handle-icon {
  position: absolute;
  top: 6px;
  left: -11px;
  color: #707a89;
  font-size: 12px;
}
.sf-no-margin-resize-container .sf-no-margin-resize-handle-icon::before {
  display: inline-block;
  width: 12px;
  height: 12px;
  /* 背景图用的base64就是 ../img/icon-triangle-left.svg 转过来的 */
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTJweCIgaGVpZ2h0PSIxMnB4IiB2aWV3Qm94PSIwIDAgMTIgMTIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8dGl0bGU+dHJpPC90aXRsZT4KICAgIDxnIGlkPSJ0cmkiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxwb2x5Z29uIGlkPSLot6/lvoQiIGZpbGw9IiM3MDdBODkiIGZpbGwtcnVsZT0ibm9uemVybyIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNS4wMDAwMDAsIDYuMDAwMDAwKSByb3RhdGUoLTkwLjAwMDAwMCkgdHJhbnNsYXRlKC01LjAwMDAwMCwgLTYuMDAwMDAwKSAiIHBvaW50cz0iOSA4IDQuOTkzOTMwNDMgNCAxIDcuOTg3ODc5MjYiPjwvcG9seWdvbj4KICAgIDwvZz4KPC9zdmc+);
  background-repeat: no-repeat;
  content: '';
}
.sf-no-margin-resize-container .sf-no-margin-resize-handle-icon-collapsed {
  top: 4px;
  left: -12px;
  transform: rotate(180deg);
}
[class^='sf-layout'] {
  box-sizing: border-box;
}
/* wrap样式 */
.sf-layout-page-wrap {
  box-sizing: border-box;
  height: 100%;
  background: #ebedf0;
}
/* 页面布局公共样式 */
.sf-layout-common-page {
  height: 100%;
}
.sf-layout-common-page .sf-layout__container-side {
  float: left;
  height: 100%;
  background: #f5f6f7;
  border-radius: 2px 0 0 2px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.sf-layout-common-page .sf-layout__container-wrapper {
  height: 100%;
  border-radius: 0 2px 2px 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.sf-layout-common-page .sf-layout__container-content {
  overflow: hidden;
}
.sf-layout-auto-fit-padding {
  /* 内边距规范定义 */
  padding: calc(16 / 1920 * 100%) calc(52 / 1920 * 100%);
}
/* 超出隐藏 */
.sf-layout-overflow-hidden {
  overflow: hidden;
}
/* 超出滚动 */
.sf-layout-overflow-x-auto {
  overflow-x: auto;
}
.sf-layout-overflow-y-auto {
  overflow-y: auto;
}
/* 取消间距 */
.sf-layout-no-padding-x {
  padding-right: 0;
  padding-left: 0;
}
.sf-layout-no-padding-y {
  padding-top: 0;
  padding-bottom: 0;
}
.sf-layout-shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

