.ae-select-group[data-v-7b3bb1bf] {
  list-style: none;
}
.ae-select-group__header[data-v-7b3bb1bf] {
  display: flex;
  align-items: center;
  height: 28px;
  padding: 0 12px;
  box-sizing: border-box;
}
.ae-select-group__header--divider[data-v-7b3bb1bf] {
  border-top: 1px solid #e1e5eb;
}
.ae-select-group__label[data-v-7b3bb1bf] {
  font-size: 12px;
  color: #86909c;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ae-select-group__list[data-v-7b3bb1bf] {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ae-tooltip__trigger--overflow {
  display: flex;
  width: 100%;
  overflow: hidden;
}
.ae-tooltip__overflow-text {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ae-tooltip__popover {
  position: fixed;
  max-width: 300px;
  z-index: 50000;
  padding: 6px 10px;
  background-color: #fff;
  font-size: 12px;
  line-height: 1.6;
  border-radius: 4px;
  word-break: break-word;
  pointer-events: auto;
  filter: drop-shadow(0 0 6px #0000001f);
}
.ae-tooltip__arrow {
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
}
.ae-tooltip__popover--top .ae-tooltip__arrow,
.ae-tooltip__popover--top-start .ae-tooltip__arrow,
.ae-tooltip__popover--top-end .ae-tooltip__arrow {
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-top-color: #fff;
}
.ae-tooltip__popover--top-start .ae-tooltip__arrow {
  left: 12px;
  transform: none;
}
.ae-tooltip__popover--top-end .ae-tooltip__arrow {
  left: auto;
  right: 12px;
  transform: none;
}
.ae-tooltip__popover--bottom .ae-tooltip__arrow,
.ae-tooltip__popover--bottom-start .ae-tooltip__arrow,
.ae-tooltip__popover--bottom-end .ae-tooltip__arrow {
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom-color: #fff;
}
.ae-tooltip__popover--bottom-start .ae-tooltip__arrow {
  left: 12px;
  transform: none;
}
.ae-tooltip__popover--bottom-end .ae-tooltip__arrow {
  left: auto;
  right: 12px;
  transform: none;
}
.ae-tooltip__popover--left .ae-tooltip__arrow,
.ae-tooltip__popover--left-start .ae-tooltip__arrow,
.ae-tooltip__popover--left-end .ae-tooltip__arrow {
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
  border-left-color: #fff;
}
.ae-tooltip__popover--left-start .ae-tooltip__arrow {
  top: 10px;
  transform: none;
}
.ae-tooltip__popover--left-end .ae-tooltip__arrow {
  top: auto;
  bottom: 10px;
  transform: none;
}
.ae-tooltip__popover--right .ae-tooltip__arrow,
.ae-tooltip__popover--right-start .ae-tooltip__arrow,
.ae-tooltip__popover--right-end .ae-tooltip__arrow {
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  border-right-color: #fff;
}
.ae-tooltip__popover--right-start .ae-tooltip__arrow {
  top: 10px;
  transform: none;
}
.ae-tooltip__popover--right-end .ae-tooltip__arrow {
  top: auto;
  bottom: 10px;
  transform: none;
}

.ae-tooltip__trigger--overflow {
  display: flex;
  width: 100%;
  overflow: hidden;
}
.ae-tooltip__overflow-text {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ae-tooltip__popover {
  position: fixed;
  max-width: 300px;
  z-index: 50000;
  padding: 6px 10px;
  background-color: #fff;
  font-size: 12px;
  line-height: 1.6;
  border-radius: 4px;
  word-break: break-word;
  pointer-events: auto;
  filter: drop-shadow(0 0 6px #0000001f);
}
.ae-tooltip__arrow {
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
}
.ae-tooltip__popover--top .ae-tooltip__arrow,
.ae-tooltip__popover--top-start .ae-tooltip__arrow,
.ae-tooltip__popover--top-end .ae-tooltip__arrow {
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-top-color: #fff;
}
.ae-tooltip__popover--top-start .ae-tooltip__arrow {
  left: 12px;
  transform: none;
}
.ae-tooltip__popover--top-end .ae-tooltip__arrow {
  left: auto;
  right: 12px;
  transform: none;
}
.ae-tooltip__popover--bottom .ae-tooltip__arrow,
.ae-tooltip__popover--bottom-start .ae-tooltip__arrow,
.ae-tooltip__popover--bottom-end .ae-tooltip__arrow {
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom-color: #fff;
}
.ae-tooltip__popover--bottom-start .ae-tooltip__arrow {
  left: 12px;
  transform: none;
}
.ae-tooltip__popover--bottom-end .ae-tooltip__arrow {
  left: auto;
  right: 12px;
  transform: none;
}
.ae-tooltip__popover--left .ae-tooltip__arrow,
.ae-tooltip__popover--left-start .ae-tooltip__arrow,
.ae-tooltip__popover--left-end .ae-tooltip__arrow {
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
  border-left-color: #fff;
}
.ae-tooltip__popover--left-start .ae-tooltip__arrow {
  top: 10px;
  transform: none;
}
.ae-tooltip__popover--left-end .ae-tooltip__arrow {
  top: auto;
  bottom: 10px;
  transform: none;
}
.ae-tooltip__popover--right .ae-tooltip__arrow,
.ae-tooltip__popover--right-start .ae-tooltip__arrow,
.ae-tooltip__popover--right-end .ae-tooltip__arrow {
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  border-right-color: #fff;
}
.ae-tooltip__popover--right-start .ae-tooltip__arrow {
  top: 10px;
  transform: none;
}
.ae-tooltip__popover--right-end .ae-tooltip__arrow {
  top: auto;
  bottom: 10px;
  transform: none;
}

.ae-select-options__list[data-v-032d5017] {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list-item[data-v-032d5017] {
  position: relative;
  padding: 0 12px;
  line-height: 32px;
  cursor: pointer;
  color: #333;
  box-sizing: border-box;
  overflow: hidden;
}
.list-item[data-v-032d5017]:hover {
  background-color: #f7f8fa;
}

.ae-select[data-v-468dfe76] {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 100%;
  height: 32px;
}
.ae-select__inner[data-v-468dfe76] {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 !important;
}
.ae-select__trigger[data-v-468dfe76] {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0 22px 0 12px;
  font-size: 12px;
  color: #000;
  border: 1px solid #ccd2d9;
  border-radius: 2px;
  background: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  line-height: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ae-select__trigger[data-v-468dfe76]:hover {
  border-color: #b4b9bf;
}
.ae-select__trigger.ae-select__trigger--open[data-v-468dfe76] {
  border-color: #1770e6;
}
.ae-select__trigger.ae-select__trigger--disabled[data-v-468dfe76] {
  color: #666;
  border-color: #ccd2d9;
  background-color: #eee;
  cursor: default;
}
.ae-select__trigger.ae-select__trigger--invalid[data-v-468dfe76] {
  border-color: #e64545;
}
.ae-select__caret[data-v-468dfe76] {
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: 'iconfont' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 1px;
  right: 4px;
  width: 20px;
  height: calc(100% - 2px);
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  pointer-events: none;
}
.ae-select__caret[data-v-468dfe76]::before {
  content: '\e88c';
  background: none;
  animation: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ae-select__trigger--open ~ .ae-select__caret[data-v-468dfe76]::before {
  content: '\e89d';
}
.ae-select__trigger--disabled ~ .ae-select__caret[data-v-468dfe76] {
  cursor: default;
}
.ae-select__placeholder[data-v-468dfe76] {
  color: #999;
}
.ae-select__text[data-v-468dfe76] {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ae-select__trigger--multiple[data-v-468dfe76] {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2px;
}
.ae-select__trigger--multiple.ae-select__trigger--has-tags[data-v-468dfe76] {
  height: auto;
  min-height: 100%;
  padding-top: 3px;
  padding-bottom: 3px;
}
.ae-select__trigger--multiple[data-v-468dfe76]  .sf-tag {
  max-width: 120px;
}
.ae-select__trigger--multiple[data-v-468dfe76]  .sf-tag .sf-tag-label {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ae-select__error-tip[data-v-468dfe76] {
  position: fixed;
  z-index: 9999;
  padding: 6px 10px;
  background: #e64545;
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 2px;
  white-space: nowrap;
  pointer-events: none;
}
.ae-select__error-tip[data-v-468dfe76]::before {
  content: '';
  position: absolute;
  top: -4px;
  left: 12px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #e64545;
}
.ae-select__dropdown[data-v-468dfe76] {
  position: fixed;
  z-index: 48000;
  background-color: #fff;
  border: 1px solid #1770e6;
  border-radius: 2px;
  box-shadow: 2px 4px 16px 0 rgba(0, 0, 0, 0.2);
  margin: 2px 0;
  box-sizing: border-box;
  font-size: 12px;
}
.ae-select__search[data-v-468dfe76] {
  position: relative;
}
.ae-select__search .ae-select__search-icon[data-v-468dfe76] {
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  color: #ccc;
}
.ae-select__search > input[data-v-468dfe76] {
  display: block;
  height: 32px;
  line-height: 32px;
  border: none;
  border-bottom: 1px solid #e1e5eb;
  border-top: 1px solid transparent;
  border-radius: 0;
  width: 100%;
  margin: 0;
  padding: 0 12px 0 32px;
  box-sizing: border-box;
  outline: none;
  background: transparent;
}
.ae-select__search > input[data-v-468dfe76]:hover {
  border-bottom-color: #ccd2d9;
  border-top-color: transparent;
}
.ae-select__search > input[data-v-468dfe76]:focus {
  border-bottom-color: #1770e6;
  border-top-color: transparent;
}
.ae-select__options-body[data-v-468dfe76] {
  max-height: 300px;
  overflow-y: auto;
}
.ae-select__options-body--no-scroll[data-v-468dfe76] {
  max-height: none;
  overflow-y: visible;
}
.ae-select__empty[data-v-468dfe76] {
  height: 32px;
  line-height: 32px;
  padding: 0 12px;
  color: #999;
}
.ae-select__loading[data-v-468dfe76] {
  height: 32px;
  line-height: 32px;
  padding: 0 12px;
  color: #999;
}
.ae-select__footer[data-v-468dfe76] {
  border-top: 1px solid #e1e5eb;
  display: flex;
  padding: 4px 8px;
}
[data-v-468dfe76] .ae-select__dropdown:not([multiple]) .list-item[checked] {
  color: #156ad9;
}
[data-v-468dfe76] .ae-select__dropdown:not([multiple]) .list-item[checked]:hover {
  color: #156ad9;
  background-color: #f7f8fa;
}
[data-v-468dfe76] .ae-select__dropdown[multiple] .list-item {
  padding-left: 30px;
}
[data-v-468dfe76] .ae-select__dropdown[multiple] .list-item::before,[data-v-468dfe76] .ae-select__dropdown[multiple] .list-item::after {
  content: '';
  position: absolute;
  display: block;
  top: calc(50% - 7px);
  left: 12px;
  width: 14px;
  height: 14px;
  box-sizing: border-box;
  background-color: #fff;
}
[data-v-468dfe76] .ae-select__dropdown[multiple] .list-item::before {
  border: 1px solid #ccd2d9;
  border-radius: 2px;
  z-index: 0;
}
[data-v-468dfe76] .ae-select__dropdown[multiple] .list-item::after {
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: 'iconfont' !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\e6c5';
  background: none;
  color: rgba(255, 255, 255, 0);
  text-align: center;
  line-height: 14px;
  z-index: 1;
}
[data-v-468dfe76] .ae-select__dropdown[multiple] .list-item:hover::before {
  border-color: #b4b9bf;
}
[data-v-468dfe76] .ae-select__dropdown[multiple] .list-item:hover::after {
  color: #fff;
}
[data-v-468dfe76] .ae-select__dropdown[multiple] .list-item[checked]::before {
  background-color: #1770e6;
  border-color: transparent;
}
[data-v-468dfe76] .ae-select__dropdown[multiple] .list-item[checked]::after {
  color: #fff;
}
[data-v-468dfe76] .ae-select__dropdown[multiple] .list-item[checked]:hover::before {
  background-color: #1876f2;
  border-color: transparent;
}
[data-v-468dfe76] .ae-select__dropdown[multiple] .list-item[checked]:active::before {
  background-color: #156ad9;
  border-color: transparent;
}
[data-v-468dfe76] .ae-select__dropdown[multiple] .list-item.disabled::before {
  border-color: #ccd2d9;
  background-color: #eee;
}
[data-v-468dfe76] .ae-select__dropdown[multiple] .list-item.disabled[checked]::before {
  border-color: #ccd2d9;
  background-color: #eee;
}
[data-v-468dfe76] .ae-select__dropdown[multiple] .list-item.disabled[checked]::after {
  color: #ccc;
}

.ares-transfer-select .ares-transfer-select_toolbar-select.sf-search__trigger-input {
  width: 112px;
}
.ares-transfer-select .ares-transfer-select_sub-title {
  font-size: 14px;
}
.ares-transfer-select .ares-transfer-select__des-column,
.ares-transfer-select .ares-transfer-select__src-column {
  overflow: hidden;
  border: 1px solid #ccd2d9;
}
.ares-transfer-select .over-limit {
  color: #e64545;
}

.api-key-transfer .ares-transfer-select__des-column {
  width: 240px !important;
  flex: 0 0 auto !important;
}

